# Entorno virtual
.venv/
.env

# Configuración de Visual Studio Code
.vscode/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de log
*.log

# Archivos temporales de pruebas
tests/temp/

huggingface/FamilySearchAI/.gitattributes
huggingface/FamilySearchAI/README.md
.ipynb_checkpoints